<template lang="pug">
    v-app
        v-app-bar(app)
            v-toolbar-title Nuxt app Boilerplate
            v-spacer
            v-btn(v-for="locale in availableLocales" :key="locale.code" :to="switchLocalePath(locale.code)")
                | {{locale.name}}
        v-main
            v-container
                v-btn(@click="toggle") toggle state variable
            | {{$t("hello", { msg: "hello" }) }}
</template>

<script lang="ts">
import {Component, Vue} from 'nuxt-property-decorator';
import {appStore} from '@/utils/store-accessor';
import {LocaleObject} from 'nuxt-i18n';

@Component({})
export default class IndexPage extends Vue {
	toggle() {
		appStore.toggle();
	}

	get availableLocales(): LocaleObject[] {
		return (this.$i18n.locales as LocaleObject[]).filter((i) => i.code !== this.$i18n.locale);
	}
}
</script>

<style></style>
