<template lang="pug">
  div
    nuxt
</template>

<script lang="ts">
import {Component, Vue} from 'nuxt-property-decorator';

@Component({})
export default class DefaultLayout extends Vue {}
</script>

<style></style>
